<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <!-- Favicon -->
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon">
    <!-- Custom styles -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <!-- Google Fonts: Averia Serif Libre -->
    <link href="https://fonts.googleapis.com/css2?family=Averia+Libre:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap" rel="stylesheet">
    
    <title>My Tarot</title>
</head>
<body>
    <div id="rotate-message">
        <div class="rotate-content">
            <div class="rotate-icon">⟳</div>
            <h2>Por favor, gire seu dispositivo</h2>
            <p>Para a melhor experiência com o Tarot, utilize a tela na vertical.</p>
        </div>
    </div>

    <div class="container4cantos">
        <div class="decorCantos top-left"></div>
        <div class="decorCantos top-right"></div>
        <div class="decorCantos bottom-left"></div>
        <div class="decorCantos bottom-right"></div>
    </div>
    <div class="decorCentro">
        <img src="/static/img/rota.png" class="decorCentroAnimate">
    </div>
    
    <nav class="navbar">
        <div class="logo">ArcanaFutura</div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %} 
    </div>


    <!-- START: Manual BrowserSync Injection (Local Only) -->
    <!-- FIX: Only inject if we are NOT on port 3000 (BrowserSync injects itself there) -->
    {% if ('localhost' in request.host or '127.0.0.1' in request.host) and ':3000' not in request.host %}
    <script id="__bs_script__">//<![CDATA[
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.29.3'><\/script>".replace("HOST", location.hostname));
    //]]></script>
    {% endif %}
    <!-- END: Manual BrowserSync Injection -->


</body>
</html>